.sidebar{
    width: 240px;
    background-color: #1e293b;
    color: white;
    padding: 20px;
}

.sidebar .logo{
    margin-bottom: 30px;
}

.sidebar ul{
    list-style: none;
}

.sidebar li{
    padding: 12px 0;
    cursor: pointer;
}

.sidebar li:hover{
    color: #38dbf8;
}