.table-container{
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}

table{
    width: 100%;
    border: 1px solid  black;
    border-radius: 8px;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid black;
}

th {
    background-color: #f1f2;
}

h3{
    width: 100%;
    text-align: center;
    background: wheat;
    padding: 10px;
    border-radius: 10px;
}